<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iTunes Albums VIPER.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF23B61A1C0458D4000654F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF23B62B1C04B732000654F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFC7F9741C0347C10002E77D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
